/**** All pages ****/
 * { box-sizing: border-box; }

/** Define colors of the page **/
:root {
  --cream: #fffff7;
  /* --cream: #e8ebe5; */
  --cream: #eaede7;
  --cream: #ecefea;
  /* --green: green;
  --green: 	#798f8c;
  --green: #718760; */
  --green: #8d9f7f;
  --green-hover: #e2e7df;
  /* --green-hover: #f0f3ef; */
  --green-hover: #fffff7;
  --green-hover: #c2caba;

}

body {
  background-color: var(--cream);
  /* font-family: "Arimo", Georgia, serif; */
  font-family: "Noto Sans", Georgia, serif;
}

.component {
  background-color: white;
}

body p,
body ul {
  font-size: 15px;
}

h2,
h3 {
  color: var(--green);
}

h2 {
  font-size: 23px;
  margin-top: 10px;
}

h3 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

/*** LOGO ***/

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: var(--cream);
}

.logo a {
  text-decoration: none;
}

#logo-text {
  font-size: 22px;
}

.social-media-nav {
  padding-top: 28px;
  background-color: var(--cream);
}

.fa {
  background: var(--cream);
  border-color: var(--green);
  border-style: solid;
  border-width: 1px;
  color: var(--green) !important;
  padding-top: 4px;
  font-size: 18px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  background-color: var(--green-hover);
}

.fa-facebook {
  padding-top: 5px;
}

/*** NAVBAR ***/

.logo-small {
  display: none;
  color: var(--green);
}

.logo-small #logo-text {
  font-size: 15px;
  padding-left: 10px;
}

.navbar-header a,
.social-media-nav-small a {
  text-decoration: none;
}

.navbar-header a:hover {
  color: var(--green);
}

.logo-small img {
  height: 50px;
}

.social-media-nav-small {
  display: none;
}

.navbar {
  margin-top: 94px;
}

.navbar-default {
  background-color: var(--cream);
  -webkit-box-shadow: none;
  box-shadow: none;
  /* border: none; */
  border-color: var(--green-hover); /* border line of the nav bar*/
}

.navbar-default .navbar-nav>li>a,
.logo a {
  color: var(--green); /* letter color of links */
  font-size: 17px;
}

/* Bg colour and text colour when active, hovering and focus for the whole navigation bar */
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: var(--green); /* letter color of links */
  font-size: 17px;
}

.navbar.navbar-default .navbar-collapse {
  border-color: var(--green); /* border line inbetween main nav and navbar-collape */
}

.navbar-default .navbar-toggle {
  border-color: var(--green);  /* border line of collapse box */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--green); /* color of 3 horizontal lines */
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--green-hover); /* background-color of collapse box when hover and focus */
}

/*** INDEX ****/
.index-section img {
  display: none;
}

.index-section {
  /* background: url("../img/contact-background1.jpg") no-repeat center center fixed; */
  /* background-image: url("../img/contact-background1.jpg"); */
  background-image: url("../img/index_bkg.jpg");
  /* No repeat of background img */
  /* background-repeat: no-repeat; */
  /*Add a background image*/
  background-attachment: fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
  /*Have the background cover the entire div section*/

  /* color: white; */
  /* color: var(--blue); */
  padding: 10%;
  padding-top: 144px;
  overflow: auto;
  height: 1080px;
 }

/*** ALL SECTIONS ***/
.section{
  padding-top: 20px;
  padding-bottom: 20px;
}
/*** ABOUT PILATES ***/
.about-pilates-section img {
  margin-top: 55px;
}

.about-pilates-section ul {
  list-style: none;
  padding-left: 20px;
}

.about-pilates-section li::before {
  content: "• ";
  color: var(--green);
  font-weight: 700;
  padding-right: 5px;
}

/*** FACILITIES ***/
.facilities-list {
  background-color: var(--green);
  color: var(--cream);
  width: 380px;
  height: 380px;
  border-radius: 50%;
  margin: 0 auto;
}

.facilities-list p {
  font-size: 13px;
  margin-bottom: 5px;
}

.facilities-list p:first-child {
  padding-top: 8px;
}

.facilities-list p:hover {
  color: white;
  font-weight: 700;
  cursor: default;
}

/*** ABOUT ME ***/
.about-me-section img {
  border-radius: 50%;
}

.about-me-section h3 {
  margin-top: 55px;
}

/*** CONTACT ***/
address span {
  color: var(--green);
  padding-right: 10px;
}

#map {
  height: 200px;
}

/*** FOOTER ***/
footer {
  padding: 0px 20px;
  background-color: var(--green);
}

.copyright p {
  font-size: 13px;
  padding-top: 11px;
}

.social-media-footer {
  text-align: right;
  padding-top: 10px;
}

.social-media-footer,
.social-media-footer a {
  color: var(--cream);
}

.social-media-footer a {
  text-decoration: none;
}

.social-media-footer a:hover {
  color: var(--green-hover);
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-me-section h3 {
    margin-top: 0px;
  }

  .about-me-section img {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  /* Center nav bar */
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
}

/* Landscape phones and down */
@media (max-width: 767px) {

  .logo {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .social-media-nav-small {
    display: block;
  }

  .fa {
    font-size: 17px;
  }

  .navbar {
    margin-top: 0px;
  }

  .index-section {
    padding-top: 183px;
  }

  .about-pilates-section img {
    margin-top: 0px;
  }

  .about-me-section img {
    margin-bottom: 10px;
  }

  .copyright,
  .social-media-footer {
    text-align: center;
  }

  .social-media-footer {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .index-section {
    height: auto;
    padding: 0;
    padding-top: 50px;
  }
  .index-section img {
    display: block;
  }

 .index-section {
   background: none;
 }

 .facilities-list {
    width: 278px;
    height: 278px;
 }

  .facilities-list p {
    font-size: 9px;
  }

  .facilities-list p:first-child {
    padding-top: 4px;;
  }
